<!-- THIS IS JUST A PLACE HOLDER FOR THIS COMPONENT -->

  <script>window.AgeCheckerAgeGateConfig={"background":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFE4psP1PbXbb6lzlSRQyJtvcZvvtK1cXsj5ZiPjxj5_1PKhyP5w","accent":"#b30000","titleText":"Age Verification","bodyText":"Sorry kids but you must be at least 18 years of age to view this site. by pressing the button below you are stating that you are in fact 18 or older.","acceptButtonText":"I'm !8 or older","rememberFor":1};</script>
  <script src="https://cdn.agechecker.net/static/age-gate/v1/age-gate.js"></script>

<h1>YOUR SITE NAME HERE</h1>

  <p><b>YOU MUST LOG IN TO SEE THIS SITE.</b></p>
  
      <button class="id" name="logIn"><i>LOGIN</i></button>
  
  <p><b><i>  DON'T HAVE AN ACCOUNT?</i> YOU MAY SING UP HERE</b></p>

      <button class="id" name="signUp"><i>SIGNUP</i></button>
