<app-buffer-page></app-buffer-page>

<div class="wrapper">

  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>{{ titleLarge }}</h3>
      <strong>{{ titleSmall }}</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a routerLink="">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/about">
          <i class="fas fa-info"></i>
          About
        </a>
      </li>
      <li>
        <a routerLink="/packages"><i class="fas fa-video"></i>Videos</a>
      </li>
      <li>
        <a routerLink="/why"><i class="fas fa-shopping-bag"></i>Ecommerce</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Social
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="" target="_blank">Facebook</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/portfolio">
          <i class="fas fa-folder-open"></i>
          Portfolio
        </a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a routerLink="/contact">
          Contact Us
        </a>
      </li>
      <li>
        <a routerLink="#">Legal Jazz</a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="fab fa-facebook fa-2x"></i>Like</a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i>Follow</a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i>Follow</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="btn btn-light d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Why Angular?</a>
            </li>
            <li class="nav-item">
<a class="nav-link" routerLink="#">Miscellaneous</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>